* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.todo-container {
  width: 100%;
  min-height: 100vh;
  background: #eeaeca;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  padding: 10px;
}
.todo-app {
  width: 100%;
  max-width: 550px;
  background: #eeaeca;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 0.5rem;
}
.todo-app h2 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.todo-app h2 img {
  height: 30px;
  width: 40px;
  padding-left: 10px;
}
.row {
}
.row input,
button {
  padding: 1rem 1rem;
  border: none;
  outline: none;
  border-radius: 1.7rem;
  font-size: 1rem;
}
.row input {
  padding-left: 1.5rem;
}
.row button {
  background: #000;
  color: #fff;
}
ul li {
  list-style: none;
  font-size: 1.2rem;
  padding: 1rem 3rem;
  transition: all ease-in-out 0.2s;

  position: relative;
}
ul li:hover {
  /* letter-spacing: 0.12px; */
}
ul li::before {
  content: "";
  position: absolute;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  background-image: url(image/checkmark-png-4.png);
  box-shadow: 0px 0px 10px black;
  background-position: center;
  background-size: cover;
  top: 0.8rem;
  left: 0.6rem;
  opacity: 0.3;
  transition: all ease-in-out 0.2s;
}
ul li:hover::before {
  opacity: 1;
}
ul li.list-item {
  color: white;
  text-decoration: line-through;
}

ul li.list-item::before {
  background-image: url(./image/images-cross.png);
  opacity: 1;
  box-shadow: none;
  opacity: 0.6;
  transition: all ease-in-out 0.2s;
}
ul li.list-item:hover::before {
  opacity: 1;
}

ul li span {
  position: absolute;
  right: 0rem;
  top: 0.45rem;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.8rem;
  color: #555;
  line-height: 2.5rem;
  text-align: center;
}
ul li span:hover {
  background: black;
  color: white;
  border-radius: 50%;
}
.text-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
}
